<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"	
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<context:component-scan base-package="com.knits.spring.common.integration,com.knits.spring.common.dao,com.knits.spring.common.service"/>
	
	<bean id="UserDao" class="com.knits.spring.common.dao.UserDaoImpl" > <!-- scope="prototype" -->
		<property name="dbUsername" value="anUserName" />	
		<property name="dbPassword" value="aSuperSafePassword" />	
	</bean>
	
	<bean id="ServiceCollection" class="com.knits.spring.common.service.ServiceWithCollections">
	
		<property name="technologySkillsList">
			<util:list list-class="java.util.ArrayList">
				<value>java</value>
				<value>spring</value>
				<value>hibernate</value>
			</util:list>
		</property>
		
		<property name="technologySkillsSet">
			<util:set set-class="java.util.HashSet">
				<value>java</value>
				<value>spring</value>
				<value>hibernate</value>
			</util:set>
		</property>
		
		<property name="technologySkillsMap">
			<util:map>
				<entry key="java" value="10" />
				<entry key="spring" value="5" />
				<entry key="hibernate" value="5" />					
			</util:map>
		</property>
		
	</bean>
	
</beans>